.App {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: center;
}

.CurrencyConverter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
